@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700");

body {
  background: #f8f8f8; /* dark - #2b2f32 | light - #F8F8F8*/
  font-family: "Roboto", sans-serif;
  transition: 0.5s ease;
  scroll-behavior: smooth;
  width: 563px;
  height: auto;
}
